$white:#ffffff;
$lightgrey:#f6f6f6;
$mediumgrey:#eaeaea;
$darkgrey:#353535;
$shadow:#ccc;
$lightpurple:#f5edff;
$darkpurple:#9356dc;
$pink:#ff79da;
$purple:#a65cdb;
$lightgreen:#99e2d0;
$darkgreen:#008766;
$logo:#000000;
$text:#010101;
$linearGrad: linear-gradient(360deg, $darkpurple 0%, $pink 100%);
$linearGradHover: linear-gradient(360deg,darken( #9356dc, 10%) 0%,#e872da 70%, lighten(#e872da,10%) 100%);
