@import "./main.scss";

#headerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75px;
  position: relative;
  i {
    position: absolute;
    left: 5%;
    top: 35%;
    font-size: 1.2rem;
  }
}
main {
  > figure {
    img {
      height: 310px;
      width: 100%;
      object-fit: cover;
    }
  }
}
#carte {
  background-color: $lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 45px 45px 0 0;
  position: relative;
  margin-top: -40px;
  h2 {
    flex-basis: 80%;
    font-size: 1.9rem;
    font-family: "Shrikhand";
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5%;
  }
  .icon {
    fill: transparent;
    stroke: $darkgrey;
    stroke-width: 30;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 2.8%;
    &:hover {
      .heart-main path {
        animation: stroke-animation 2s ease-in forwards;
      }
      .heart-background {
        animation: fade-animation 2s ease forwards;
      }
    }
  }
  svg {
    overflow: visible;
    width: 1.5rem;
    .colorTop {
      stop-color: $pink;
    }

    .colorMiddle {
      stop-color: $purple;
    }
    .colorBottom {
      stop-color: $darkpurple;
    }
  }
  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }
  .heart-background {
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 1;
    stroke: none;
  }
}
#entries,
#main-courses {
  height: 320px;
}
#entries.four {
  height: 420px;
}
#desserts {
  height: 470px;
}
#entries,
#main-courses,
#desserts {
  margin: 30px auto;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  h3 {
    font-size: 1.2rem;
    width: 40px;
    border-bottom: 3px solid $lightgreen;
    height: 30px;
  }
  article {
    background-color: $white;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 5px 7px $shadow;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    position: relative;
    overflow: hidden;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 86%;
      transition-property: width;
      transition-duration: 0.6s;

      h4,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        padding: 1px 0;
        transition-property: width;
        transition-duration: 0.6s;
      }
    }
    span {
      position: absolute;
      right: 10px;
      bottom: 14px;
      transition-property: right;
      transition-duration: 0.6s;
    }
    i {
      display: inline;
      display: inline;
      font-size: 1.5rem;
      color: white;
      right: -10%;
      animation: iconReturn ease 0.6s;
    }
    .itemHover {
      width: 0px;
      transition-duration: 0.6s;
      margin-left: auto;
      position: relative;
      background-color: $lightgreen;
      border-radius: 0 15px 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $lightgreen;
      left: 4%;
      transition-property: width;
    }
    &:hover {
      cursor: pointer;
      div {
        width: 70%;
        transition-property: width;
        transition-duration: 0.6s;
        P {
          width: 85%;
          transition-property: width;
          transition-duration: 0.6s;
        }
      }

      i {
        display: inline;
        font-size: 1.5rem;
        color: white;
        right: 33%;
        animation: iconCheck ease 0.6s;
      }
      span {
        right: 90px;
        transition-property: right;
        transition-duration: 0.6s;
      }
      .itemHover {
        margin-left: auto;
        position: relative;
        background-color: $lightgreen;
        border-radius: 0 15px 15px 0;
        width: 80px;
        border: 1px solid $lightgreen;
        left: 3.5%;
        transition-property: width;
      }
    }
  }
}

#entries {
  @include lazy(4, 0);
}
#main-courses {
  @include lazy(3, 0.6);
}
#desserts {
  @include lazy(3, 1.2);
}

@media only screen and (min-width: 481px) {
  #carte {
    margin: 0 auto;
    max-width: 1000px;
    z-index: 1000;
  }
  main {
    > figure {
      height: 230px;
      img {
        height: 300px;
      }
    }
  }
}
