@import "./main.scss";


#headerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 65px;
  position: relative;
  i {
    position: absolute;
    left: 5%;
    top: 35%;
    font-size: 1.2rem;
  }
}
main {
  > figure {
    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
}
#carte {
  background-color: $lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: -30px;
  h2 {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-family: "Shrikhand";
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
}
#entries,
#main-courses {
  height: 300px;
}
#desserts {
  height: 420px;
}
#entries,
#main-courses,
#desserts {
  margin: 30px auto;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  h3 {
    font-size: 1.1rem;
    width: 40px;
    border-bottom: 3px solid $lightgreen;
    height: 30px;
  }
  article {
    background-color:$white;
    height: 70px;
    border-radius: 15px;
    box-shadow: 0px 5px 7px $shadow;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    position: relative;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 80%;
      h4,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
    }
    span {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    i {
      display: none;
    }
  }
  #button {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      background: linear-gradient(360deg, #9356dc 0%, #e872da 100%);
      color: #ffffff;
      box-shadow: 3px 6px 7px #ccc;
      border-radius: 30px;
      margin: 30px 0;
      min-width: 200px;
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      border: none;
      transform: scale(1);
      transition : all transform 700ms;
    }
    a:hover {
      background: linear-gradient(360deg,darken( #9356dc, 10%) 0%,#e872da 70%, lighten(#e872da,10%) 100%);
      box-shadow: 3px 6px 7px rgb(173, 168, 168);
      transform: scale(1.05) ;
    }
  } 
  
}
@media only screen and (min-width: 481px) {
  #carte {
    margin: 0 auto;
    max-width: 1100px;
    z-index: 1000;
  }
  main {
    > figure {
      height: 230px;
      img {
        height: 300px;
      }
    }
  }
}
