#restaurants {
    background-color: $lightgrey;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 50px 0 20px 0;
      }
      article {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        box-shadow: 0 3px 5px $shadow;
        border-radius: 15px;
        figure {
          display: flex;
          flex-direction: column;
          height: 100%;
          a {
            position: relative;
            span {
              position: absolute;
              right: 5%;
              display: flex;
              align-items: center;
              background-color: $lightgreen;
              color: $darkgreen;
              font-weight: bold;
              height: 30px;
              font-size: 0.9rem;
              padding: 0 10px;
              margin-top: 15px;
            }
            img {
              border-radius: 15px 15px 0 0;
              height: 185px;
              object-fit: cover;
              object-position: 50% 65%;
            }
          }
        }
        img {
          width: 100%;
        }
        figcaption {
          position: relative;
          display: flex;
          height: 80px;
          a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding-left: 15px;
            flex-basis: 90%;
          }
          h4 {
            color: $text;
            font-weight: bold;
            font-size: 1.1rem;
          }
          p {
            color: $text;
          }
          .icon {
            fill: transparent;
            stroke: $darkgrey;
            stroke-width: 30;
            cursor: pointer;
            position: relative;
            &:hover {
              .heart-main path {
                animation: stroke-animation 2s ease-in forwards;
              }
              .heart-background {
                animation: fade-animation 2s ease forwards;
              }
            }
          }
          svg {
            overflow: visible;
            width: 1.5rem;
            position: absolute;
            right: 5%;
            
          }
          path {
            stroke-dashoffset: 0;
            stroke-dasharray: 1550;
            transform-origin: center;
          }
          .heart-background {
            position: absolute;
            opacity: 0;
            z-index: 1;
            stroke: none;
            right: 5%;
            
          }
        }
      }
    }
  }