footer {
    background-color: $darkgrey;
    height: 200px;
    div {
      nav {
         
          display: flex;
          flex-direction: column;
          padding: 20px;
          height: 100px;
            h5 {
                padding-bottom: 20px;
              a {
              font-family: 'Shrikhand';
              font-size: 1.1rem;
              text-decoration: none;
              color: $white;
              
              }
            }
          div {
            li{
                padding: 5px 0;
             a {
                 color: white;
                 text-decoration: none;
                 font-family:'Roboto';
                 i {
                     padding-right: 10px;
                 }
             }
            }
          }
      }
    }
}
@media only screen and (min-width:510px){
   footer {
     div {
     nav {
       margin-left: 17%;
     }
    }
   }

}
@media only screen and (min-width: 900px) {
   footer {
     div {
     nav {
       margin-left: 10%;
       padding: 20px 0 ;
     }
    }
   }
}
@media only screen and (min-width: 1200px) {
  footer {
    background-color:$darkgrey;
   .blocFooter {
     margin: auto;
     max-width: 1200px;
     padding: 0 10%;
       nav {
         margin-left: 0;
       }
   }
 }
}